@media print {
    * { margin: 0 !important; padding: 0 !important; }
    footer,header, #controls, .footer,
    .sidebar-right,.sidebar-left,
    .top-nav-content,
    .top-navbar{ display: none !important;
    }
    BODY, TBODY {
        /*changing width to 100% causes huge overflow and wrap*/
        height:100%;
        overflow: visible!important;
        background: #FFF;
        font-size: 9.5pt;
    }

    /*.template { width: auto; left:0; top:0; }
    img { width:100%; }
    li { margin: 0 0 10px 20px !important;}*/


    .noprint {
        display:none !important;
    }

   /* BODY, TBODY {
        font-family: arial;
        font-size: 12px;
        margin: 0;
        color: #000;
        overflow: visible!important;
    }
*/
    .teamworkIcon{
        display:none;
    }

    .mainColumn{
        width:98% !important;
    }


#workSpace{
        overflow-x: visible !important;
        overflow-y: visible !important;
        width: auto !important;
        height: auto !important;
        border:none !important;
    }

    .splitterContainer{

        width: auto !important;
        height: auto !important;
    }
    .splitElement{
        position: static !important;
        width: auto !important;
        height: auto !important;
        top:0 !important;
        left: 0 !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
    }

    .vSplitBar,.emptyRow{
        display: none !important;
    }

    .gdfTable{
        width: 0 !important;
    }

    .splitBox2{
        page-break-before: always !important;
    }

    .fixHead{
        display: none !important;
    }
}


