@font-face {
    font-family: 'TeamworkRegular';
    src: url('../../fonts/teamwork-regular-webfont.eot');
    src: url('../../fonts/teamwork-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/teamwork-regular-webfont.woff') format('woff'),
         url('../../fonts/teamwork-regular-webfont.ttf') format('truetype'),
         url('../../fonts/teamwork-regular-webfont.otf') format('opentype'),
         url('../../fonts/teamwork-regular-webfont.svg#TeamworkRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing:border-box;
  box-sizing: border-box;
}*/

  /*
  -------------------------------------------------------
  body styles
  -------------------------------------------------------
  */
/*
TBODY {
  font-family: arial;
  font-size: 14px;
  margin: 0;
  color: #000000;
  text-decoration: none;
}

BODY {
  background-color: #91B4B7; 
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #16ABDD;
}

a:hover, a.aHover {
  color: #0C85AD;
  text-decoration: underline;
}

h1 {
  font-size:32px;
  line-height: 34px;
  color:#91B4B7;
  font-weight:normal;
  margin:0 0 10px 0
}

h2 {
  font-size:22px;
  color:#373737;
  font-weight:normal;
  margin:0 0 10px 0
}

h3 {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  margin: 0;
}

h4 {
  font-size:16px;
  padding:5px 0;
  color:#617777;
  margin:0
}
*/


/* ------------------------------------------------------- TABLE STYLES ------------------------------------------------------- */
::-webkit-input-placeholder {
    color: #888888;
    font-size: 90%;
}

:-moz-placeholder { /* Firefox 18- */
    color: #888888;
    font-size: 90%;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #888888;
    font-size: 90%;
}

:-ms-input-placeholder {
    color: #888888;
    font-size: 90%;
}


input:-webkit-autofill, textarea:-webkit-autofill {
    background: #EEEEEE none !important;
    -webkit-box-shadow: 0 500px 0 0 #EEEEEE inset;
}




.table {
    width: 100%;
    border-spacing: 0;
}

.table .tableSection td {
    background-color: #EEEEEE;
}

.table .tableSection.isEmpty td {
    background-color: #FAFAFA;
}

.table .tableSection:hover td,
.table .tableSection.isEmpty:hover td {
    background-color: #F9EFC5;
}

.table .tableSection.isEmpty .childNode h2 {
    color: #a5a5a5;
    padding: 2px 5px;
}
.table .tableSection.isEmpty .teamworkIcon {
    font-size: 90%
}

.table .tableSectionSeparator td {
    height: 5px;
}

.table.dataTable  {
    margin: 10px 0;
}

.table .tableHead {
    border-top: 3px solid #959595;
    border-bottom: 1px solid #CCCCCC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    border-right: 1px solid #cccccc;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    border-left: none;
    background-color: #EEEEEE;
    height: 35px;
    color:#656565;
    padding: 0 5px;
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
    min-height: 28px;
}

.table .tableHead.large {
    width: 200px;
}

.tableHead.firstRow {
    height: 20px;
    color: #656565;
    text-align: center;
}

.tableHead.secondRow {
    border-top: 0;
    height: 20px;
}

.table .dataTableHead th:first-child,
.table .dataTableHead th:first-of-type,
th.tableHead:first-of-type {
    border-left: 0;
}

.table .dataTableHead th:last-child,
.table .dataTableHead th:last-of-type,
th.tableHead:last-of-type {
    border-right: 0;
}

th.tableHead.secondRow:last-of-type{
    border-right: 1px solid #cccccc;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
}

.table th.tableHead.secondRow:first-of-type {
    border-left: 0;
}

.table.dataTable .dataTableBody tr > td {
    padding: 3px 5px;
}

.tableHeadEl{
    padding: 0;
    min-height: 10px;
}

.tableHeadEl[orderState]{
    cursor:pointer;
}

.tableHeadEl[orderState]:after {
    font-family: "icons";
    font-size: 110%;
    margin-left: 5px;
    cursor:pointer;
}

.tableHeadEl[orderState="0"]:after {
    content: "\00B6";
}

.tableHeadEl[orderState="1"]:after {
    content: "u";
}

.tableHeadEl[orderState="2"]:after {
    content: "\00F9";
}

.tableHeadEl[orderState="1"],
.tableHeadEl[orderState="2"]{
    color: #2f2f2f;
}

.tableContent {
    background-color: #FFFFFF;
}

tr.alternate > td {
    border-bottom: 1px solid #CCCCCC;
    padding: 2px;
}

tr.alternate:hover, tr.data:hover > td {
    background-color:#edf3fd;
}

tr.alternate.resourceList > td {
    border-bottom: 1px solid #EEEEEE;
}

tr.alternate.resourceList.last > td {
    border-bottom: 1px solid #CCCCCC;
}

tr.alternate.resourceList.first > td:nth-child(-n+5) {
    border-bottom: 1px solid #CCCCCC;
    vertical-align: middle;
}

tr.alternate.topAlign > td {
    vertical-align: top;
}

tbody tr.selected {
    background-color: #edf3fd;
}

.tableMultiCols {
    padding: 10px
}

.tableMultiCols.issueFilter {
    padding: 0 20px
}

#wp_myIssuesExpired tr.alternate > td {
    vertical-align: top;
}

/* APPARENCE FOR FIX HEADS, FIX SECTIONS AND FIX FOOTERS */

.scrollingBox{
    position: relative;
    overflow: auto;
}

table.table.tableHeaderCloned{
    z-index: 1;
    opacity: .95;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    background: #fffcf3;
    margin-bottom: 0;
}

table.table.tableSectionCloned{
    z-index: 1;
    opacity: .95;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    background: #fffcf3!important;
    margin-bottom: 0;
}

table.table.tableSectionCloned .tableSection{
    background: #FFF9E2;
}

table.table.tableFooterCloned{
    z-index: 1;
    opacity: .95;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.1);
    background: #fffcf3;
    margin-bottom: 0;
}

table.date > td {
    border-bottom: 0;
}

tr.data td {
    padding: 4px 4px 0 4px;
}

tbody tr.data:last-child td {
    padding-bottom: 4px;
}

.fixedWidthAlignRight, .table.dataTable th.fixedWidthAlignRight, tr.alternate > td.fixedWidthAlignRight {
    text-align: right;
    padding-left: 20px;
    white-space: nowrap;
    width: 1%
}

.sectionTitle {
    margin: 0;
    padding: 5px;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

table.edged {
    border-top:none;
    border-bottom: 1px solid #CCC;
}

table.edged > tbody > tr > td {
    border-bottom: 1px solid #CCCCCC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    border-right: 1px solid #CCCCCC;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    padding: 2px;
}

table.edged > tbody > tr > td.columnTaskName, table.edged > tbody > tr > td.columnTaskCode {
    border-right: none;
}

table.edged > tbody > tr > td:first-of-type,
table.edged > tfoot > tr > td:first-of-type {
    border-left: 0
}

table.edged > tbody > tr > td:last-of-type,
table.edged > tfoot > tr > td:last-of-type {
    border-right: 0
}

table#issHistTable.edged > tbody > tr > td,  table#worklogTable.edged > tbody > tr > td {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
}

table.worklogWeek > tbody > tr:hover{
    background-color: #fafafa;
}
#savingMessage{
  background-color:#E3EDED;
  display:none;
  color:#617777;
  font-weight:bolder;
  position:fixed;
  top:0;
  left:50%;
  width:200px;
  text-align:center;
  margin-left:-100px;
  padding:5px 0;
  z-index:1000000;
  box-shadow:0 3px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 3px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 3px 2px rgba(0,0,0,0.4);
  -o-box-shadow:0 3px 2px rgba(0,0,0,0.4);
}

.waiting{
  cursor:progress;
}

/*
  -------------------------------------------------------
  teamwork icon
  -------------------------------------------------------
  */


.teamworkIcon {
  font-family: 'TeamworkRegular', arial, sans-serif;
  color:#617777;
  font-weight:normal;
  font-size:120%
}

.teamworkIcon.withLabel {
  padding-right:5px;
}


.button:hover .teamworkIcon {
  opacity: 0.8
}

.teamworkIcon.alert {
  color:#B61E2D;
}

.cvcColorSquare{
  display:inline-block;
  text-align:left;
  border:#fff 0px solid;
  box-shadow:0px 0px 5px #999;
  -moz-box-shadow:2px 2px 2px #999;
  -webkit-box-shadow:0px 0px 5px #999;
  -o-box-shadow:0px 0px 5px #999;
  text-indent:10px;
  border-radius:5px;
  cursor: pointer;
}

 .cvcColorSquare:hover{
  opacity:.7;
}



.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}



  /*
  -------------------------------------------------------
  Buttons
  -------------------------------------------------------
  */

.button {
  display:inline-block;
  font-size:110%;
  font-family:Arial, sans-serif;
  color:#fff;
  cursor:pointer;
  background-color:#373737;
   -moz-box-shadow:2px 2px 2px #999;
   -webkit-box-shadow:2px 2px 2px #999;
   -o-box-shadow:2px 2px 2px #999;
   box-shadow:2px 2px 2px #999;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -o-border-radius:5px;
   border-radius:5px;
   border:none;
   padding:7px 10px;
   margin-bottom:10px;
   margin-right:10px;
  text-align: center
}


.button.first {
    background-color:#FEA730;
    font-weight: bold;
}
.button.first:hover {
    background-color:#D98E2A;
}



.button[disabled] {
  cursor: default;
  opacity:0.4
}


.button:hover[disabled] {
  background-color:#BABABA
}

.button.textual, .button.buttonImg {
  border: none;
  background-color: transparent;
  color:#68979B;
  -moz-box-shadow:0 0 0 #999;
   -webkit-box-shadow:0 0 0 #999;
   -o-box-shadow:0 0 0 #999;
   box-shadow:0 0 0 #999;
  -moz-border-radius:0;
   -webkit-border-radius:0;
   -o-border-radius:0;
   border-radius:0;
  padding:0;
  margin:0;
  text-align: left
}



.button.edit {
  color:#009E94;
  padding:0;
  margin:0
}

.button.delete {
  color:#B61E2D;
  padding:0;
  margin:0
}

.button:hover {
  background-color: #4C4C4C;
}
.button.textual:hover, .button.buttonImg:hover {
  background-color: transparent;
}

span.separator {
  display: inline-block;
}

.button.add {
  color:#009E94;
}

.button.add .teamworkIcon {
  color:#009E94;
}


form {
  margin: 0;
  padding: 0;
}

select {
  border:1px solid #91B4B7;
  padding: 4px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.formElements {
  background-color: white;
  padding: 4px;
  font-size: 16px;
  border:1px solid #91B4B7;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  font-family: Arial, Helvetica, sans-serif;
}

.formElementsError {
  border: 1px solid #ff0000;
}

.formElementExclamation {
  width: 15px;
  height: 25px;
  mmmargin-left: -20px;
  mmmposition: absolute;
  background: url("../../images/alert.gif") no-repeat;
}


span#FLD_LOGIN_NAMEerror, span#FLD_PWDerror {
  margin-left: -23px;
  margin-top: 2px;
}


input {
    background-color: white;
    padding: 4px;
    font-size: 16px;
    border:1px solid #91B4B7;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------------------------------------- COLOR VALUE CHOOSER ------------------------------------------------------- */


.cvcComponent {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.cvcDropDown{
    position: absolute;
    background-color: #FFFFFF;
    cursor: pointer;
    min-width: 180px;
    border: 1px solid rgba(204, 204, 204, 0.50);
    left: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    z-index: 10000;
}

.cvcDropDown .cvcLine{
    position: relative;
    opacity:1;
    padding: 6px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.50);
}

.cvcDropDown .cvcLine:hover, .cvcDropDown .cvcLine.selected{
    background: #F4F4F4;
}

.cvcDropDown .cvcLine.selected:after{
    content:"‹";
    font-family: "icons";
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -5px;
}

.cvcLine {
    text-align: left;
    border-bottom: #FFFFFF 1px solid;
    white-space: nowrap;
    padding: 0 10px;
}

.cvcSelBox {
    text-align: left;
    white-space: nowrap;
    padding:2px 6px;
    display: inline-block;
}

.cvcComponent.cvcDisplayValue:not(.cvcMultiSelect) .cvcSelBox{
    box-shadow: inset 0 2px 2px  rgba(0,0,0,0.2);
}

.cvcComponent:not(.cvcDisplayValue) .cvcSelBox{
    padding:0;
}

.cvcSelBox .teamworkIcon, .cvcDropDown .teamworkIcon {
    font-size: 110%;
}

.issueRow .cvcSelBox .teamworkIcon {
    font-size: 140%;
}

.cvcStatuses{
    display: inline-block;
}

.issueRow.inEdit .priority .teamworkIcon {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.cvcColorSquare {
    display: inline-block;
    text-align: left;
    position: relative;
    background: transparent;
}

.cvcColorSquare.priorityLabel {
    border-radius: 3px;
    padding: 1px 4px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff
}

.cvcComponent.cvcShowOpener .cvcColorSquare {
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    min-width:30px;
}

.cvcColorSquare.noLabel {
    display: inline-block;
    text-align: left;
    border: none;
    text-indent: 0;
    border-radius: 50%;
    padding:0;
    position: relative;
}

.cvcDescription {
    white-space: nowrap;
    padding: 0 5px 0 5px;
}
