/***
Default theme
***/

/***
Reset and overrides
***/
body {
  background-color: #fff;
}
/***
Page header
***/
.header {
  filter: none !important;
  background-image: none !important;
  background-color: #212121 !important;
}
.header .btn-navbar {
  background-color: #212121 !important;
}
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #383838 !important;
}
.header .navbar-nav li.dropdown .dropdown-toggle i {
  color: #8a8a8a !important;
}

/***
Header Search
***/
.header .search-form {
  background-color: #000;
}

.header .search-form .form-control {
  color: #999;
  border: 0;
  background-color: #000;
}

.header .search-form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #777;
}
.header .search-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777;
}
.header .search-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777;
}
.header .search-form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #777;
}

.header .search-form .submit {
  background: url(../../img/search-icon-light.png);
}

/***
Hor menu
***/
.header .hor-menu ul.nav li a {
  color: #999;
}

.header .hor-menu ul.nav li.open > a,
.header .hor-menu ul.nav li > a:hover,
.header .hor-menu ul.nav li > a:focus {
  color: #fff;
  background: #383838;
}

.header .hor-menu .dropdown-menu li:hover > a,
.header .hor-menu ul.nav li.active > a,
.header .hor-menu ul.nav li.active > a:hover {
  color: #fff;
  background: #ee1d23 !important;
}

.header .hor-menu ul.nav li.current > a,
.header .hor-menu ul.nav li.current > a:hover {
  color: #fff;
  background: #ee1d23 !important;
}

.header .hor-menu .dropdown-menu {
    background: #383838;
}
.header .hor-menu .dropdown-menu li > a {
    color: #999;
}

.header .hor-menu .hor-menu-search-form-toggler.off {
   background: #383838 url(../../img/hor-menu-search-close.png) no-repeat center;
}

.header .hor-menu .search-form {
  background:#383838;
}

.header .hor-menu .search-form form input {
  color: #999;
}

.header .hor-menu .search-form .btn {
  color: #999;
  background: url(../../images/search-icon.png) no-repeat center;
}

.header .hor-menu .search-form form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
.header .hor-menu .search-form form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
.header .hor-menu .search-form form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
.header .hor-menu .search-form form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

/***
Mega Menu
***/
.mega-menu .mega-menu-submenu {
  border-right: 1px solid #444;
}

.mega-menu .mega-menu-submenu li h3 {
  color: #fff;
}

/***
Page sidebar
***/

ul.page-sidebar-menu > li{
    display: block;
    border-bottom: 1px solid #2C3439;

}
ul.page-sidebar-menu > li > a {
    color: #AAB2BD;
    height: 45px;

    text-decoration: none;
    line-height: 120%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

ul.page-sidebar-menu > li:last-child {

    bottom: 0;
    height: 50px;
    top: 127px;
}
ul.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
ul.page-sidebar-menu > li a i {
  color: #969696;
}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  /*background: #303030;*/
    color: #E6E9ED;
    border-bottom: 1px solid #2C3439;

}


ul.page-sidebar-menu > li.active > a {
  background: #ee1d23 !important;
 /* border-top-color: transparent !important;*/
  color: #ffffff;
}
ul.page-sidebar-menu > li.active > a i {
  color: #ffffff;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #ffffff !important;
  background: #575757 !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  background: #575757 !important;
}
/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #575757 !important;
}
/* font color for all sub menu links*/
ul.page-sidebar-menu li > ul.sub-menu > li > a {
   color: #bdbdbd;

}
/* menu arrows */
ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before {
  color: #7d7d7d !important;
}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #707070 !important;
}
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #8a8a8a !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before,
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #ffffff !important;
}
/* sidebar search */
.page-sidebar .sidebar-search input {
  background-color: #242424 !important;
  color: #7d7d7d;
}
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input:-moz-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input:-ms-input-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input {
  background-color: #3d3d3d !important;
  color: #bfbfbf !important;
}
.page-sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #7d7d7d !important;
}
.page-sidebar .sidebar-search .submit {
  background-image: url(../../images/search-icon.png);
}


/***
Sidebar toggler
***/
.sidebar-toggler {
  background-image: url(../../img/sidebar-toggler.jpg);
  background-color: #242424;
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
  background-color: #3d3d3d !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
  background-image: url("../../img/sidebar-search-close.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #3d3d3d;
}
/***
Footer
***/
.footer .footer-inner {
  color: #999999;
}
.footer .footer-tools .go-top {
  background-color: #4f4f4f;
}
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.footer .footer-tools .go-top i {
  color: #8a8a8a;
}
/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
  background-color: #242424;
}
.page-footer-fixed .footer .footer-inner {
  color: #999999;
}
.page-footer-fixed .footer .footer-tools .go-top {
  background-color: #4f4f4f;
}
.page-footer-fixed .footer .footer-tools .go-top i {
  color: #8a8a8a;
}
/* end:fixed footer */
/***
Gritter Notifications
***/
.gritter-top {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -30px !important;
}
.gritter-bottom {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left bottom !important;
}
.gritter-item {
  display: block;
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -40px !important;
}
.gritter-close {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left top !important;
}
.gritter-title {
  text-shadow: none !important;
  /* Not supported by IE :( */

}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: url(../../plugins/gritter/images/gritter-light.png) !important;
}
.gritter-item-wrapper a {
  color: #18a5ed;
}
.gritter-item-wrapper a:hover {
  color: #0b6694;
}

/***
Landscape phone to portrait tablet
***/
@media (max-width: 991px) {
  /***
    page sidebar
    ***/
  .page-sidebar {
    /*background-color: #292929 !important;*/
  }
  ul.page-sidebar-menu > li > a {
    border-top: 1px solid #4a4a4a !important;
  }
  ul.page-sidebar-menu > li:last-child > a {
    border-bottom: 0 !important;
  }
  .page-sidebar .sidebar-search input {
    background-color: #292929 !important;
  }
  ul.page-sidebar-menu > li.open > a,
  ul.page-sidebar-menu > li > a:hover,
  ul.page-sidebar-menu > li:hover > a {
    background: #1e1e1e;
  }
}

.progress-micro {
    height: 2px;
}

.btn-success {
    -moz-box-shadow:inset 0px 1px 0px 0px #d21313;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d21313;
    box-shadow:inset 0px 1px 0px 0px #d21313;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d21313), color-stop(1, #d21313) );
    background:-moz-linear-gradient( center top, #d21313 5%, #d21313 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d21313', endColorstr='#d21313');
    background-color:#d21313;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 2px;
    border:1px solid #d21313;
    display:inline-block;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 18px;
    text-decoration: none;
    text-shadow:1px 1px 0px #d21313;
}
.btn-success:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d21313), color-stop(1, #d21313) );
    background:-moz-linear-gradient( center top, #d21313 5%, #d21313 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d21313', endColorstr='#d21313');
    color:#ad6464;
    background-color:#d21313;
}
.btn-success:active {
    position:relative;
    top:1px;
}

/********************************/
.bootstrap *::before, .bootstrap *::after {
    box-sizing: border-box;
}
.bootstrap *::before, .bootstrap *::after {
    box-sizing: border-box;
}
.bootstrap .form-control, .bootstrap input[type="text"], .bootstrap input[type="search"], .bootstrap input[type="password"], .bootstrap textarea, .bootstrap select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 12px;
    height: 27px;
    line-height: 1.42857;
    padding: 4px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

/* ==========================================
    Forms
   ========================================== */
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    transition: border-color 0.5s ease-in-out;
}
.form-control:hover {
    border-color: #f0f0f0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    transition: border-color 0.5s ease-in-out;
}
.form-control:focus {
    border-color: #dfefbc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border-color 0.5s ease-in-out;
}



.input-group-addon {
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    border: 2px solid #dcdcdc;
    border-radius: 0;
}
.input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 0;
}
.input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 0;
}
.input-group-addon { vertical-align: none; }

.radio input[type="radio"], .radio-inline input[type="radio"],
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { margin-top: 7px; }

label {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 5px;
    font-family: 'Muli', sans-serif;
}



.input-group-addon {
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    border: 2px solid #dcdcdc;
    border-radius: 0;
}
.input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 0;
}
.input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 0;
}
.input-group-addon { vertical-align: none; }

/* -------------------------- */
.radio label, .checkbox label {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 5px;
    padding-left: 0;
}

.form-horizontal.form-bordered .form-group, .form-horizontal.form-striped .form-group {
    border-top: 1px solid #cccccc !important;
    margin-bottom: 0;
    padding: 10px 0;
}
.form-horizontal.form-bordered .form-group h4, .form-horizontal.form-striped .form-group h4 { margin: 0; color: #af1313; font-weight: 400; }
.form-horizontal.form-bordered .form-group p, .form-horizontal.form-striped .form-group p { margin: 0; color: #6f6f6f; }

.form-horizontal .form-group.header {
    border-right: 1px solid #cccccc !important;
    border-left: 1px solid #cccccc !important;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
}
.control-label {
    color: #282a2b;
    font-weight: 300;
    line-height: 1.2;
}

.bgcolor-default {
    background-color: #f6f6f6 !important;
    border-color: #cccccc !important;
    color: #282a2b !important;
}


.mt-10 { margin-top: 10px !important; }

.mt-20 { margin-top: 20px !important; }
/***
SlimScrollBar plugins css changes
***/
.scroller {
    padding: 0px ;
    margin: 0px ;
    padding-right: 12px ;
    overflow: hidden;
}

.scroller-footer {
    margin-top: 10px;
}

.scroller-footer:after,
.scroller-footer:before {
    content: "";
    display: table;
    line-height: 0;
}

.scroller-footer:after {
    clear: both;
}

.portlet-body .slimScrollBar {
    margin-right: 0px ;
}
.form-control.height-auto {
    height: auto;
}

.module_checkboxes {
    background: rgba(0, 0, 0, 0) url("flat.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 20px;
}
.module_checkboxes {
    background-position: 0 0;
}
.module_checkboxes.checked {
    background-position: -22px 0;
}
.module_checkboxes.disabled {
    background-position: -44px 0;
    cursor: default;
}
.module_checkboxes.checked.disabled {
    background-position: -66px 0;
}
.list-unstyled li > .list-unstyled {
    margin-left: 25px;
}
/* Custom Colors for Tasked */
/* -------------------------- */
/*input[type="radio"] { display: none; }*/
input[type="radio"] + label {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    background-color: #efefef;
    color: #dcdcdc;
    padding: 4px 8px;
    width: 30px;
    display: inline-block;
}
input[type="radio"] + label { background-color: #a0ce4e; }

/* Custom Colors for Tasked */
input[type="radio"] + label.radPrimary { background-color: #236b9b; }
input[type="radio"] + label.radPrimary2 { background-color: #1e5d86; }
input[type="radio"] + label.radInfo { background-color: #4da0d7; }
input[type="radio"] + label.radInfo2 { background-color: #3895d2; }
input[type="radio"] + label.radSuccess { background-color: #77c123; }
input[type="radio"] + label.radSuccess2 { background-color: #6aab1f; }
input[type="radio"] + label.radWarning { background-color: #e5ad12; }
input[type="radio"] + label.radWarning2 { background-color: #cd9b10; }
input[type="radio"] + label.radDanger { background-color: #d64e18; }
input[type="radio"] + label.radDanger2 { background-color: #a83d13; }

input[type="radio"]:checked + label {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #ffffff;
}

input[type="radio"] + label i { color: transparent; }
input[type="radio"]:checked + label i {
    -webkit-animation: check 1s;
    animation: check 1s;
    color: #ffffff;
}

#progress-value {
    float: left;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    line-height: 35px;
    overflow: hidden;
    width: 40px;
}

.noUi-handle {
    cursor:pointer;
}

.noUi-active {
    box-shadow: none;
}

.progress-box {
    margin-top: 1.8%;
    width: 480px;
}
