@page {
	margin: 20px;
	page-break-after: always;
}
body {

    font-family: "Lato",Calibri,Arial,sans-serif;
    font-size: 13px;
    color: #717171;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;

}	
p  {
	margin: 0 0 10px;
}

#invoice {
	margin: 2%;
	width: 100%;	

}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
    border-top: 1px solid #d6dde2;
}
.footer p {
	margin-bottom: 0;
	font-size: 12px;
    font-family: "Lato",Calibri,Arial,sans-serif;
}

.h1, .h2, .h3, .h4 {
	margin: 10px 0 10px 0;
	text-transform: uppercase;
    font-family: "Lato",Calibri,Arial,sans-serif;
}
.h1 	{font-size: 36px; text-transform: uppercase;}
.h2 	{font-size: 30px}
.h3 	{font-size: 24px}
.h4 	{font-size: 18px}

.details {
	font-family: sans-serif;
	font-size: 12px;
    margin-bottom: 4px;
}

table {
	border: 0px;
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
}
table th {
	background: none repeat scroll 0 0 #dbdbdb;
	font-family: 'Dosis', sans-serif;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 4px;	
	line-height: 1.42857;
	vertical-align: top;    
}
table tr > th {
    background-color: #EFEFEF;
    text-align: center !important;
    text-transform: uppercase;
	font-size: 12px;
	vertical-align: center !important;
}
table td {
	font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
	line-height: 1;
}
table.border th,
table.border td {
	border: 1px solid #999999;
	padding: 8px;	
}

.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.invoice-payment {
    float: right;
    width: 250px;
    border: 1px solid #d6dde2;
    margin: 20px 2% 40px 0;
    padding: 0;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    text-align: right;

}
.invoice-payment .table h6 {
    margin-bottom: 0;
}

.invoice-items{
    margin: 2%;
    border: 1px solid #d6dde2;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

@media (max-width: 768px) {
    .invoice-details {
        float: none;
        margin-top: 12px;
    }
}


.invoice-items{
    border: 1px solid #d6dde2;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.invoice-items td,.invoice-items th{padding:0.2em 0.4em 0.4em}

.terms {
    clear: both;
    padding:20px 10px;
    border-top: 1px solid #d6dde2;
}

tr.show_border td {border: 1px solid #d6dde2; }
.invoice-items td,.invoice-items th{padding:0.2em 0.4em 0.4em}
.crt {
	width: 20px;
}
.product {
	width: 300px;
}
.qty {
	width: 60px;
}
.small { 
	width: 80px;
}


.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.6667%;
}
.col-md-10 {
    width: 83.3333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-7 {
    width: 58.3333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-1 {
    width: 8.33333%;
}

.bg-white		{background: white !important;}
.top10 			{margin-top: 10px;}
.top20 			{margin-top: 20px;}
.text-left 		{text-align: left;}
.text-center 	{text-align: center;}
.text-right	 	{text-align: right;}

.text-primary{color: #29AF8E;}
.text-success{color: #74AD3B;}
.text-info{color: #5DCBF7;}
.text-warning{color: #FCCB6A;}
.text-danger{color: #D8482C;}
